*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

#navbar{
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
}

.nav1 ul{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

.nav1 ul li{
    list-style: none;
    padding-top: 25px;
}

.nav1 ul li a{
    font-weight: bold;
    color: lightskyblue;
    font-size: 1rem;
    text-decoration: none;
    letter-spacing: 2px;
    transition-duration: 0.3s;    
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    margin-top: 0;
}

.nav1 ul li a:hover{
    border-bottom: 3px solid white;
}

.header{
    height: 100vh;
    background: url(COVID-19.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.header h1{
    margin: 0;
    vertical-align: middle;
    font-weight: 700;
    font-size: 70px;
    color: #CBDCD7;
    text-align: center;
}

.header .content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.bod1{
    background: linear-gradient(to right, #0FF0FF, #0FFF00);
    color: #F0F0F0;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

p{
    font-size: 120%;
    width: 55%;
    letter-spacing: 0.4px;
    word-spacing: 1.8px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
}

.what{
    padding: 5%;
    font-size: 3.4rem;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

.hh3{
    padding: 30px;
    font-size: 1.7rem;
}
hr{
    width: 85%;
    margin-left: 7.5%;
}

.what2{
    font-size: 2.7rem;
    padding: 3.5%;
}

.flex1{
    padding-top: 30px;
    background: linear-gradient(to right, #E52E71, #FF8A00);
    display: flex;
}
.flex1 h1{
    padding: 30px;
    font-size: 250%;
}

.prev1{
    letter-spacing: 0.2px;
    text-align: left;
    padding: 0;
    font-size: 22.5px;
    margin-left: 5.3%;
}

.flex2{
    display: flex;
    margin: 0;
    margin-left: 80px;
    padding-bottom: 20px;
    width: 300%;
    flex-wrap: wrap;
}
.flex2 h3{
    text-align: left;
    font-size: 30px;
    margin: 0;
    margin-top: 35px;
    padding: 0;
}
.flex2 p{
    padding: 0;
    margin: 0;
    text-align: left;
}

.li1{
    font-size: 20px;
}



.hahabody{
overflow-x: hidden;
padding-bottom: 50px;
background: url(https://thumbs-prod.si-cdn.com/mGzVOiub9nq8OQFc0Q_q90D1JWw=/fit-in/1600x0/https://public-media.si-cdn.com/filer/79/4a/794a7e74-8c99-4fde-abcd-a303bc302ba1/sars-cov-19.jpg) center;
background-attachment: fixed;
font: normal 16px/1.5 "Helvetica Neue", sans-serif;
color: #fff;
} 

.intro {
padding: 100px 0;
}

.container {
width: 90%;
max-width: 1200px;
margin: 0 auto;
text-align: center;
}

h1 {
font-size: 5rem;
}

.timeline ul {
list-style-type:none;
padding: 50px 0;
}

.timeline ul li 
{
position: relative;
width: 7px;
margin: 0 auto;
padding-top: 50px;
padding-bottom: 20px;
background: #fff;
}

.timeline ul li div {
position: relative;
bottom: 0;
width: 400px;
padding: 15px;
background: #F45B69;
border-radius: 10px;
}
.timeline ul li:nth-child(even){
    background-color: grey;
}
.timeline ul li:nth-child(odd) div {
left: 45px;
transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
left: -439px;
transform: translate3d(-200px, 0, 0);
}

time 
{
display: block;
font-size: 1.2rem;
font-weight: bold;
margin-bottom: 8px;
}

.timeline ul li div 
{
visibility: hidden;
opacity: 0;
transition: all .7s ease-in-out;
}

.timeline ul li.in-view div 
{
transform: none;
visibility: visible;
opacity: 1;
}